<!-- /**
 * Arquivo HTML do Menu Esquerdo
 *
 * @file Menu.html
 * @authors André Queiroz, Rafael Mello e Rodrigo Sene
 * @version 1.0
 *
 * @copyright 2016, Dag!
 *
 */ -->

 <!--<ion-header-bar class="bar-assertive bg-red-header-dag dark br-b-n h-48 mn pn" no-tap-scroll="true">

   <div class="button-bar">
     <button class="button button-icon ion-ios-bell button-active"></button>
     <button class="button button-icon ion-ios-people"></button>
     <button class="button button-icon ion-ios-star"></button>
     <button class="button button-icon ion-ios-gear"></button>
   </div>

 </ion-header-bar>-->


<ion-side-menus enable-menu-with-back-views="true">

  <!-- Exibição do conteúdo carregado -->
<ion-nav-bar class="bar-assertive bg-red-dag br-t br-b-n h-48 has-tabs-top" align-title="left" animation="nav-title-slide-ios7" no-tap-scroll="true">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round pt3" drawer-toggle animate="false"></button>
    <span class="notify notify-new">25</span>
    <img src="img/logos/small_header.png"/>

    <div class="button-bars btn-header-container">
      <button class="button btn-small-header-group view-change mt10 mr5"></button>
      <button class="button btn-large-header-group create mr5"></button>
      <button class="button btn-small-header-group search mt10 mr5"></button>
    </div>
  </ion-nav-buttons>

</ion-nav-bar>

<ion-side-menu-content>
  <ion-nav-view name="menuContent"></ion-nav-view>
</ion-side-menu-content>

<drawer side="left">

  <!-- Barra de navegação das páginas -->
  <ion-header-bar class="bar-assertive bg-red-header-dag dark br-b-n h-48 mn pn" no-tap-scroll="true">

    <div class="button-bar">
      <button class="button button-icon ion-ios-bell button-active"></button>
      <button class="button button-icon ion-ios-people"></button>
      <button class="button button-icon ion-ios-star"></button>
      <button class="button button-icon ion-ios-gear"></button>
    </div>

  </ion-header-bar>

  <ion-content class="of-h bg-light dark has-footer">
    <div class="list">

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar1.jpg" class="br-dag-light bw4 br-solid">
        <h3>André Queiroz</h3>
        <p>Ta recebendo as mensagens ai?</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar2.jpg" class="br-dag-light bw4 br-solid">
        <h3>Rodrigo Sene</h3>
        <p>Vacilão...</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar3.jpg" class="br-dag-light bw4 br-solid">
        <h3>Rafael Mello</h3>
        <p>Bora beber!!</p>
      </a>

    </div>
    <ion-footer-bar align-title="center" class="bg-dark">
      <div class="fluid-width text-default text-center fs10 p5">© 2016 Dag - v1.0</div>
    </ion-footer-bar>
  </ion-content>

</drawer>
</ion-side-menus>
