<ion-view class="fs13">
  <ion-content class="bg-light dark" padding="false" scroll="true" overflow-scroll="false" has-bouncing="false">

    <div class="list">

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar1.jpg" class="br-dag-light bw4 br-solid">
        <h3>André Queiroz</h3>
        <p>Ta recebendo as mensagens ai?</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar2.jpg" class="br-dag-light bw4 br-solid">
        <h3>Rodrigo Sene</h3>
        <p>Vacilão...</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar3.jpg" class="br-dag-light bw4 br-solid">
        <h3>Rafael Mello</h3>
        <p>Bora beber!!</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar1.jpg" class="br-dag-light bw4 br-solid">
        <h3>André Queiroz</h3>
        <p>Ta recebendo as mensagens ai?</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar2.jpg" class="br-dag-light bw4 br-solid">
        <h3>Rodrigo Sene</h3>
        <p>Vacilão...</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar3.jpg" class="br-dag-light bw4 br-solid">
        <h3>Rafael Mello</h3>
        <p>Bora beber!!</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar1.jpg" class="br-dag-light bw4 br-solid">
        <h3>André Queiroz</h3>
        <p>Ta recebendo as mensagens ai?</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar2.jpg" class="br-dag-light bw4 br-solid">
        <h3>Rodrigo Sene</h3>
        <p>Vacilão...</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/demo/avatar3.jpg" class="br-dag-light bw4 br-solid">
        <h3>Rafael Mello</h3>
        <p>Bora beber!!</p>
      </a>

    </div>

  </ion-content>
</ion-view>
