<ion-tabs class="tabs-striped" has-header="false">

  <ion-tab title="Notificações" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline" ui-sref="#/app/tab/notificacoes">
    <div tab-Notificacao></div>
  </ion-tab>

  <ion-tab title="Amigos" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="#/tab/amigos">
    <div "tab-amigos"></div>
  </ion-tab>

  <ion-tab title="Favoritos" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" ui-sref="#/tab/favoritos">
    <div "tab-favoritos"></div>
  </ion-tab>

  <ion-tab title="Configurações" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="#/tab/configuracoes">
    <div "tab-configuracoes"></div>
  </ion-tab>

</ion-tabs>
