<ion-view view-title="Termos" class="fs13 mn">

  <!-- Barra de navegação das páginas -->
  <ion-nav-bar class="bar-assertive bg-red-dag br-b-n h-48" align-title="left" no-tap-scroll="true">

    <ion-nav-back-button class="button-clear">
      <i class="ion-chevron-left pn ph10"></i>
    </ion-nav-back-button>

  </ion-nav-bar>


  <ion-content class="has-header padding bg-skin">

  	<div class="list card">

  		<div class="item item-body">

			<div class="row responsive-sm">
 	 			<div class="col"><h4 class="text-center">Termos e Condições</h4></div>
				<div class="col">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi enim mauris, venenatis interdum fermentum non, viverra porttitor velit. Vivamus eget facilisis lectus, et finibus enim. Integer eget fringilla erat. Curabitur hendrerit vulputate ipsum, condimentum molestie tortor lacinia non. Phasellus malesuada faucibus nibh, et vehicula est congue eu. In faucibus a augue ac sodales. Aliquam commodo lacinia tortor, eu interdum tellus iaculis ac. Maecenas eget dignissim mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur lacus leo, vehicula eu lectus nec, eleifend molestie quam. Duis condimentum in turpis ac pretium. Vestibulum augue nisl, vulputate vel elit et, pellentesque mollis sem. Curabitur id cursus ex. Nullam eget leo scelerisque, lobortis neque nec, rutrum mi. Sed vitae tincidunt tortor.
Nullam molestie, neque eget pretium imperdiet, nulla diam pretium enim, eget laoreet enim nisi in lectus. Vivamus tempus dui eu condimentum volutpat. Aenean pellentesque, urna eget dictum viverra, nibh quam pharetra dolor, sed dictum enim metus quis metus. Nam eu nunc sollicitudin, facilisis lectus mattis, ornare sem. Pellentesque nec ullamcorper lacus. Vestibulum eget sollicitudin purus. Donec lacus augue, vulputate nec purus nec, consequat finibus felis. Curabitur in ligula in diam euismod finibus nec vitae dolor. In ante ante, congue vitae nulla at, interdum aliquam nisl. Phasellus hendrerit nibh eget mi sollicitudin euismod.</p>
				</div>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
